.tooltip {
    position: absolute;
    text-align: center;
    padding: 8px;
    font: 14px sans-serif;
    background: white;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 10; 
}

.tooltip b {
    color: red;
    font-weight: bold;
    font-size: 16px; 
}

.hover-border {
    cursor: pointer;
  }
  
.hover-border:hover {
  stroke: red; /* SVG elements use 'stroke' instead of 'border' */
  stroke-width: 3px; /* Makes the stroke 'bold' */
}

.button-container {
  text-align: center;
  margin: 20px;
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

button.active {
  background-color: #5bc0de;
}

.button-text {
  transition: 0.3s ease-in-out;
}

#borough-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;
}

footer {
  margin-top: auto;
}